body {
  font-family: Roboto, sans-serif;
  margin: 0px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.header .logo {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: 900;
}

.header .links {
  display: flex;
  gap: 16px;
}

.hero {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 16px 320px 96px;
  margin: 0px;
  height: 400px;
  gap: 100px;
}

.hero .content {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.hero .left {
  display: flex;
  flex-direction: column;
  width: 400px;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  flex: 1 1 auto;
}

.hero .main-text {
  font-size: 48px;
  color: #F9FAF8;
  font-weight: 900;
}

.hero .secondary-text,
.header .links {
  font-size: 18px;
  color: #E5E7EB;
}

.button {
  color: white;
  font-size: 16px;
  font-weight: 700;
  border: 0px;
  background-color: #3882F6;
  border-radius: 8px;
  width: 128px;
  height: 32px;
  flex: 0 0 auto;
}

.hero .right {
  width: 600px;
  height: 250px;
  background-color: grey;
  flex: 1 1 auto;
}

.hero .img {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: fill;
  width: 100%;
  height: 100%;
}

.hero,
.footer {
  background-color: #1F2937;
  color: white;
}

.information {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 300px;
  padding: 48px 320px 96px;
  gap: 48px;
}

.information .header{
  font-size: 36px;
  color: #1F2937;
  font-weight: 900;
}

.information .images {
  display: flex;
  justify-content: center;
  gap: 64px;
}

.information .block {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 150px;
  gap: 8px;
}

.information .box {
  border: 3px solid #3882F6;
  width: 150px;
  height: 150px;
  border-radius: 16px;
}

.information .subtext {
  text-align: center;
}

.quote {
  background-color: #E5E7EB;
  padding: 96px 520px 96px;
}

.quote .text {
  font-size: 36px;
  color: #1F2937;
  font-weight: 300;
}

.quote .author {
  text-align: right;
  font-weight: 700;
}

.sign-up {
  color: white;
  background-color: #3882F6;
  height: 150px;
  padding: 16px 128px;
  margin: 96px 192px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sign-up .main-text {
  font-size: 24px;
  font-weight: 700;
}

.sign-up .button {
  border: 2px solid white;
}

.footer {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div {
  /* border: 2px solid red; */
}